<h1>Détails de PC d'Id:2</h1>

    <div class="row">
        <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item"><img [src]="materiel.photo" width="200px" height="200px"></li>
            <li class="list-group-item">Marque {{materiel.marque}}</li>
            <li class="list-group-item">Prix:{{materiel.prix}}</li>
            <li class="list-group-item">Description {{materiel.description}}</li>
            <li class="list-group-item">Quantite {{materiel.quantite}}</li>
            <li class="list-group-item"><input type="checkbox" [checked]="materiel.hautGamme">Haut de Gamme</li>
            <li class="list-group-item"><button type="button" class="btn btn-primary" (click)="onClick()">Afficher les commentaires</button></li>
        </ul>
    </div>
    <div class="col-6" *ngIf="afficher">
        <ul>
        <li *ngFor= "let t of materiel.commentaires; index as i"> 
        <siw-comment [comm]="t" [indice]="i"></siw-comment>
       
        </li>
    
       </ul>
    </div>
    </div>
